:root{
    --font-family: 'Roboto', sans-serif;
    --main-color: rgba(105, 62, 112, 0.936);
    --main-color-claro: rgba(115, 8, 132, 0.936);
    --second-color:rgb(115, 37, 189);
    --secondary-color: #1d031c;
    --white-color: #ecf0f1;
    --quaternary-color: #e74c3c;
    --quinary-color: #3498db;
    --buy-color: #2ecc71;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: var(--font-family);
    font-size: 16px;

}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    
    top: 0;
    position: flex;
}

header .logo{
    cursor: pointer;
}

header .logo img{
    width: 50px;
    transition: all 0.3s;
}

header .logo img:hover{
    transform: scale(1.1);
}
nav{
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 10px 0;
    background-color: var(--second-color);
}
nav .navLinks{
    list-style: none;
}

.header .navLinks li{
    display: inline-block;
    padding: 0 20px;
}

.header .navLinks li:hover{
    transform: scale(1.1);
}

.header .navLinks a{
    color: white;
    text-decoration: none;
}
.header .navLinks li a:hover{
    color: #13161c;
}

.header .btn {
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0,3s ease 0s;
    text-decoration: none;
}

.header.btn:hover{
    transform: scale(1.1);
}
	
h2{
    color: var(--white-color);
    text-align: center;
    margin: 20px 0;

}
.presentacion{
    display: flex;
    flex-direction: column;
}
.presentacion-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 400px;
    padding: 20px;
    background-image: url("./img/banner.jpg");
    background-size: cover;
    background-position: center;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 1s;
    opacity: 0.5;
}
.text-presentacion{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 200px;
    right: 0;
    left: 0;
    color: var(--white-color);
    font-size: 2rem;
    margin: 10px 0;
    opacity: 1;

}
.post-presentacion{
    padding: 52px 60px;
    width: 100%;
    font-size: 1.2rem;
    font-weight:bold;
    background-color: var(--white-color);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(45deg, var(--main-color) 0%, #13161c 100%);

}
main{
    min-width: 100px;
    width: 90%;
}
main h2{
    font-size: 2rem;
    color: var(--white-color);
    margin: 80px 0 20px 0;
}
.nuestraDiferencias{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,auto));
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: auto;
    padding: 20px;
    background-color: var(--white-color);
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 1s;
    margin: 20px 0;
}
.diferencia{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.cursos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,300px));
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
}
.curso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    background-color: var(--white-color);
    border-radius: 5px;
}
.curso a{
    text-align: center;
    width: 100%; 
    color: black;
    text-decoration: none;
    
}
.curso:hover{ 
    color: var(--main-color-claro);
    background-color: rgb(205, 173, 212);
    width: 105%;
    transition: 0.5s;
    
}
.curso figure{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.curso figure img{
    width: 100%;
}
.conteiner-button{
    display: flex;
    justify-content: end;
    margin: 1px;
    align-items: center;

}
.btn-pagar{
    background-color: var(--buy-color);
    color: var(--white-color);
    border: none;
    width: 50%;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.categorias{
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    border: 1px solid var(--main-color-claro);
    width: 50%;
    
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
    transition: 0.5s;
}	
.conteiner-ver-mas{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 180px;
    margin: 20px 0;
}
.planes{
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}	
.plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    background-color: var(--white-color);
    border-radius: 5px;
    min-width: 300px;
    max-width: 50%;
    margin: 10px 0;
    padding: 20px;
}
.plan:hover{
    color: var(--main-color-claro);
    border: 8px solid var(--main-color-claro);
    transition: 0.5s;
}
.plan ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style:circle;
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
}
.plan h3{
    color: var(--white-color);
    font-size: 1.5rem;
    background-color: var(--main-color-claro);
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}
.plan li{
    margin: 5px;
}
.planP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    background-color: var(--white-color);
    border-radius: 5px;
    min-width: 400px;
    max-width: 50%;
    margin: 10px 0;
    padding: 20px;
}
.planP:hover{
    color: var(--main-color-claro);
    border: 8px solid var(--main-color-claro);
    transition: 0.5s;
}
.planP ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style:circle;
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
}
.planP li{
    margin: 5px;
}	
.planP h3{
    color: var(--white-color);
    font-size: 1.5rem;
    background-color: var(--main-color-claro);
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}


footer{
    width: 100%;
    height: 100px;
    background-color: var(--main-color-claro);
}

@media (min-width: 800px) {
    .planes{
        display: flex;
        flex-direction: row;
    }
}